# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Build outputs
dist/
build/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

backend/serviceAccountKey.json